<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leo.zu.dao.UsersDao">

    <!-- 也可以使用resultType,但是推荐使用resultMap -->
    <resultMap id="BaseResultMap" type="com.leo.zu.entities.User">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <id column="NAME" property="name" jdbcType="VARCHAR"/>
        <id column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <id column="IM_CUST_NO" property="imCustNo" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUsersByNameAndPassword" resultMap="BaseResultMap">
        select id,name,im_cust_no
        from users
        where 1=1
        and id = #{id}
        and password = #{password}
    </select>

    <select id="getUserById" resultType="com.leo.zu.entities.User">
        select *
        from users
        where 1=1
        and id = #{id}
    </select>

</mapper>


